.forgotMainDiv{
    min-height: 90vh;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgotBox{
    padding-top: 2vw;
    width: 40vw;
    min-height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vw;
}
.inputDiv{
    margin-top: 1vw;
    width: 30vw;
}
.inputDivHere{
    margin-top: 0.2vw;
}
.Label{
    font-weight: 600;
    font-size: 1.1vw;
}
.inputFIeld{
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    padding-left: 0.3vw;
    width: 30vw;
    outline: none;
    border: none;
    border: 1.2px solid rgb(111, 110, 110);
    border-radius: 0.4vw;
    letter-spacing: 0.1vw;
    font-weight: 500;
}
.nopassword{
    color: red;
    font-weight: 700;
}
.nomatch{
    color: red;
    font-weight: 700;
}
.matched{
    color: green;
    font-weight: 700;
}
.changingDiv{
    margin-top: 0.6vw;
}
.changingDiv button{
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    width: 30vw;
    font-size: 1.1vw;
    font-weight: 400;
    background-color: rgb(3, 139, 139);
    color: white;
}
.changingStatus{
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
@media(max-width:450px){
    .forgotMainDiv{
        min-height: 95vh;
    }
    .forgotBox{
        padding-top: 4vw;
        min-height: 30vh;
        width: 90vw;
        padding-bottom: 5vw;
        
    }
    .inputDiv{
        margin-top: 5vw;
        width: 70vw;
    }
    .Label{
        font-size: 4vw;
    }
    .inputDivHere{
        margin-top: 1vw;
    }
    .inputFIeld
    {
        width: 70vw;
       padding-top: 2vw;
       padding-bottom: 2vw;
       padding-left: 1vw;
    }
    .changingDiv{
        margin-top: 4vw;
    }
    .changingDiv button{
        font-size: 4vw;
        width: 70vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    .changingStatus{
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    
}